{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Head Start -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn from Home - Buddha Online Academy ">
    <meta name="keywords" content="buddha online academy, buddhaonlineacademy, buddha online institutue, buddha online training institutue, buddha online training academy">
    <meta name="author" content="Michael Udhaya">

    <!-- site icon -->
    <link rel="icon" href="{% static 'main/images/favicon/favicon.ico' %}" type="image/gif" sizes="16x16">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- icon link -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Coiny' rel='stylesheet'>

    <!-- Local Style Sheet -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">

    <!-- Google Font 
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    -->

    <title>{% block title %}{% endblock %}</title>
  </head>
<!-- End of Head -->

<body style="background: url({% static 'main/images/backgrounds/bg-back.jpg' %});">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>

{% if request.path == "/" %}
<!-- Site Header Start-->
  <div class="container-fluid" style="background-image: radial-gradient(white, #d44949); padding: 30px 50px">
      <center>
        <img src="{% static 'main/images/icons/buddha-icon.png' %}" height="150px" width="150px">
        <h2 class='text-center' style="font-family: Coiny; margin-top: 10px;">புத்தர் இனைய வழி பயிற்சி மையம் </h2>
        <h5 class='text-center'>திருவொற்றியூர் - 600 019</h5>
      </center>
  </div>
<!-- End of Site Header-->
{% endif  %}

<!-- Navbar Start -->
  <nav class="navbar navbar-expand-sm sticky-top my-nav"><!-- 'my-nav' is local css-->
    <!-- <a class="navbar-brand" href="{% url 'main:url_home' %}">
      <i class="fas fa-home"></i> Home
    </a> -->

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span><i class="fas fa-bars" style="color:white;"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <!-- by adding mr-auto the second ul set was automaticatlly goes to right align -->
        <li class="nav-item {% block nav-home %}{% endblock %}">
          <a class="nav-link" href="{% url 'main:url_home' %}">
          <i class="fas fa-home"></i> Home</a>
        </li>
        <!--
        <li class="nav-item {% block nav-current-affairs %}{% endblock %}">
          <a class="nav-link" href="{% url 'main:url_current_affairs' %}">
          <i class="fas fa-building"></i> Current Affairs</a>
        </li>
         -->
        <li class="nav-item {% block nav-courses %}{% endblock %}">
          <a class="nav-link" href="{% url 'main:url_courses' %}">
          <i class="fas fa-portrait"></i> Courses</a>
        </li>
        <li class="nav-item {% block nav-post %}{% endblock %}">
          <a class="nav-link" href="{% url 'main:url_post_list' %}">
          <i class="fas fa-bullhorn"></i> Posts</a>
        </li>
        <!--
        <li class="nav-item {% block nav-policies %}{% endblock %}">
          <a class="nav-link" href="{% url 'main:url_policies' %}">Policies</a>
        </li>
      -->
        <li class="nav-item {% block nav-videos %}{% endblock %}">
          <a class="nav-link" href="{% url 'main:url_gallery' %}">
          <i class="fas fa-video"></i> Videos</a>
        </li>
        <li class="nav-item {% block nav-about-us %}{% endblock %}">
          <a class="nav-link" href="{% url 'main:url_about_us' %}">
          <i class="fas fa-info-circle"></i> About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <i class="fas fa-child"></i> Student Corner
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item text-danger" href="{% url 'quiz:url_quiz' %}" style="background: None; border: none;">
              <i class="fas fa-bolt"></i>&nbsp Take Quiz
            </a>
            <a class="dropdown-item text-danger" href="#" style="background: None; border: none;">
              <i class="fas fa-bullhorn"></i>&nbsp Leader Board
            </a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
             <li class="nav-item">
               <a class="nav-link {% block nav-account %}{% endblock %}" href="#">
                <i class="fas fa-user"></i> {{user.username|title}}</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'main:url_logout' %}">
              <i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link {% block nav-login %}{% endblock %}" href="{% url 'main:url_login' %}">
              <i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block nav-signup %}{% endblock %}" href="{% url 'main:url_signup' %}">
              <i class="fas fa-user-plus"></i> SignUp</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>
<!-- End of Navbar -->

<!-- Body Containder -->
{% block body %}

{% endblock %}
<!-- End of Body Containder -->

<script>

// Common script
// tooltip
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
// End of Common script

// PRE LOADER


// End of Index page
</script>

</body>

</html>