{% extends 'main/base.html' %}
{% load static %}

<!-- Title Name -->
{% block title %}
    SignUp
{% endblock %}
<!-- End of Title Name -->

<!-- Navigation activae link -->
{% block nav-signup %}
  nav-active
{% endblock %}
<!-- End of Navigation activae link -->

{% load widget_tweaks %}

{% block body %}

<!-- Body Start -->
  <div class="body-container">
    <!-- Alert Messages -->
      {% include 'reusable/messages.html' %}
    <!-- End of Alert Messages -->

    <!-- body content -->
      <div class="container border login-body">
        <center>
          <img src="{% static 'main/images/icons/buddha-icon.png' %}" height="150px" width="150px">
          <br>
          <h2 class="text-muted">Register yourself with <b>Buddha Online Academy</b>!</h2>
        </center>
        <form method="post" style="padding: 40px; border-radius: 5px;" class="border">
          {% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}

              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}

              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
         <br>
          If you already have an account <a href="{% url 'main:url_login' %}"><strong>Login</strong></a> instead.        
      </div>

    <!-- End of body content -->

    <!-- Footer Start-->
      {% include 'main/includes/footer.html' %}
    <!-- End of Footer -->
  </div>
<!-- End of Body -->
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
  </script>

{% endblock %}