<!-- Footer Start-->
  <div class="footer">
    <div class="row">
      <div class="col-sm-4" style="">
        <p style="padding-top: 5px;">This site was Developed by <a href="http://michaeludhaya.pythonanywhere.com/" class="text-light" data-toggle="tooltip" data-placement="bottom" title="Website Developer" target="_blank">Michael Udhaya</a>
        </p>
      </div>
      <div class="col-sm-8">
        <ul class="nav justify-content-end text-light">
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'main:url_feedback' %}">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'main:url_contact_us' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link text-light" href="#">Alumni</a> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- End of Footer