{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Head Start -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Buddha Online Academy - Online Quiz">
    <meta name="keywords" content="buddha online academy, buddhaonlineacademy, buddha online institutue, buddha online training institutue, buddha online training academy">
    <meta name="author" content="Michael Udhaya">

    <!-- site icon -->
    <link rel="icon" href="{% static 'quiz/images/icons/q_logo.ico' %}" type="image/gif" sizes="16x16">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- icon link -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Coiny' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>

    <!-- Local Style Sheet -->
    <link rel="stylesheet" href="{% static 'quiz/css/style.css' %}" type="text/css">

    <!-- Google Font 
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    -->

    <title>{% block title %}{% endblock %}</title>
  </head>
<!-- End of Head -->

<body>

<!-- Body Containder -->
{% block body %}

{% endblock %}
<!-- End of Body Containder -->

</body>

</html>